@mixin verti-center($top:50%, $trans:-50%) {
  top:50%;
  transform:translateY(-50%);
}
@mixin horizon-center {
  left:0;
  right:0;
  margin:0 auto;
}
@mixin center {
  top:50%;
  transform:translateY(-50%);
  left:0;
  right:0;
  margin:0 auto;
}
@mixin icon-style($top:33px) {
  position:absolute;
  top:#{$top};
  left:20px;
  width:20px;
  height:20px;
  text-align:center;
}

@keyframes show-up {
  from {
    opacity:0;
    margin-top:80px;
  }
  to {
    opacity: 1;
    margin-top:0;
  }
}

$jay-black:rgb(40,40,40);
$corner-value:5px;

* {
  padding:0;
  margin:0;
}

#root {
  width:100vw;
  height:100vh;
}

#App-wrapper {
  position:relative;
  width:100%;
  height:100%;
  @media (max-width:480px) {
    height:1400px;
  }
  @media (min-width:320px)
         and (max-width:840px)
         and (orientation:landscape) {
    height:800px;
  }
}

#field {
  position:relative;
  @include center;
  width:80%;
  height:80%;
  @media (min-width:980px) {
    width:60%;
  }
  @media all and (min-width: 1024px)
             and (orientation:portrait) {
    width:90%;
  }
}

#header-wrapper {
  position:absolute;
  z-index:3;
  top:0;
  @include horizon-center;
  width:40%;
  height:40px;
  border-radius:0 0 5px 5px;
  background-color:$jay-black;
  cursor:pointer;
  transition:0.4s;
  @media (max-width:480px) {
    width:80%;
  }
  #menu-arrow {
    position:absolute;
    @include horizon-center;
    bottom:10px;
    width:0px;
    height:0px;
    border-top:10px solid rgb(120,120,120);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    transition:0.4s;
    cursor:pointer;
  }
  #header-icon-wrapper {
    display:none;
    flex-wrap:nowrap;
    justify-content: space-between;
    position:relative;
    @include horizon-center;
    top:10px;
    width:80%;
    height:50%;
    #icons-wrapper  {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      position: relative;
      @include horizon-center;
      top:10%;
      width:100%;
      height:100%;
    }
    .icon-text-wrapper  {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      width:30%;
      height:100%;
    }
    .icons {
      position: relative;
      @include horizon-center;
      width:25px;
      height:25px;
      color:rgb(120,120,120);
      transition:0.2s;
      cursor:pointer;
      &:hover {
        color:white;
      }
    }
    .icon-text  {
      width:100%;
      color:rgb(120,120,120);
      font-size: 12px;
      @media all and (min-width: 1024px)
                 and (orientation:portrait) {
        font-size: 22px;
      }
    }
  }
}

#footer-wrapper {
  position:absolute;
  bottom:0;
  width:100%;
  height:30px;
  background-color:$jay-black;
  p {
    position: relative;
    left:10px;
    @include verti-center;
    font-size:14px;
    color:white;
  }
}

#modal-background {
  position: absolute;
  z-index: 100;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(50,50,50,0.8);
  #modal-close-icon {
    position: absolute;
    z-index: 900;
    top:2%;
    right:2%;
    width:30px;
    height:30px;
    color:white;
    font-size:20px;
    cursor:pointer;
  }
  #modal-wrapper  {
    position: fixed;
    @include verti-center;
    @include horizon-center;
    z-index:999;
    width:50%;
    height:40%;
    background-color: white;
    border-radius:$corner-value;
    animation: show-up 0.4s ease-out;
    @media all and (max-width: 479px)
               and (orientation:portrait) {
       width:80%;
       height:50%;
    }
    @media all and (min-width: 480px)
               and (max-width: 1024px)
               and (orientation:portrait) {
       width:60%;
       height:40%;
       border-radius:10px;
    }
    @media all and (min-width: 480px)
               and (max-width: 840px)
               and (orientation:landscape) {
       width:50%;
       height:90%;
       border-radius:10px;
    }
    #modal-bttn-wrapper {
      display: flex;
      justify-content: space-around;
      position: relative;
      @include horizon-center;
      width:80%;
      height:15%;
      margin-top:10px;
      .modal-buttons {
        position:relative;
        @include verti-center;
        width:70px;
        height:35px;
        font-size:13px;
        font-weight: 600;
        border-radius: $corner-value;
        border:2px solid black;
        cursor:pointer;
        transition:0.4s;
        @media all and (min-width: 1024px)
                   and (orientation:portrait) {
           width:20%;
           height:60%;
           font-size:20px;
        }
        &:hover{
          background-color: rgb(175, 38, 38);
          color:white;
          border:none;
        }
      }
    }
    #modal-title-wrapper  {
      position: relative;
      width:100;
      height:20%;
      background-color: rgb(120, 16, 16);
      border-radius: $corner-value $corner-value 0 0;
      @media all and (min-width: 1024px)
                 and (orientation:portrait) {
         font-size:32px;
      }
      #modal-title-text {
        position: relative;
        left:20px;
        width:100%;
        height:10px;
        @include verti-center;
        color:white;
        font-weight: 600;
      }
    }
  }
  #modal-menu {
    position: relative;
    @include horizon-center;
    width:70%;
    height:58%;
    padding-top:10px;
    box-sizing: border-box;
  }
  #modal-input-time {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width:100%;
    height:30%;
    font-size:16px;
    @media all and (min-width: 1024px)
               and (orientation:portrait) {
       font-size:28px;
    }
    #hour-input-wrapper, #min-input-wrapper {
      position: relative;
      @include verti-center;
      width:50%;
      height:50%;
      text-align: center;
    }
    .modal-input-texts  {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width:100%;
      height:100%;
      font-weight: 600;
      .modal-time-inputs  {
        display: block;
        @include horizon-center;
        height:100%;
        width:34%;
        border-radius: 4px;
        border:1px solid grey;
        padding: 2px 4px 2px 4px;
        box-sizing:border-box;
      }
    }
  }
  #modal-place-text, #modal-content-text {
    display: block;
    width:100%;
    height:30%;
    font-size:16px;
    font-weight: 600;
    @media all and (min-width: 1024px)
               and (orientation:portrait) {
       font-size:28px;
    }
  }
  #modal-place-input, #modal-content-input  {
    display: block;
    height:50%;
    width:100%;
    border-radius: 4px;
    border:1px solid grey;
    margin-top:5px;
    padding: 2px 4px 2px 4px;
    box-sizing:border-box;
    resize: none;
  }
  #modal-content-input {
    height:70%;
  }
}
